{% extends 'base.html.twig' %}
{% block body %}
<br>
<div class="panel panel-default">
  <div class="panel-heading">
<h1>Nog te ontvangen bestellingen</h1>
</div>
<div class="panel-body">
<div class="table-responsive">
<table class="table table-striped">
    <tr>
        <td>Bestelordernummer</td>
        <td>Artikel</td>
        <td>Aantal</td>
        <td>Leverancier</td>
        <td>Hoeveelheid</td>
        <td>Artikellocatie</td>
        <td>Keuringseisen</td>
        <td>Ontvangst</td>
    </tr>

	{% for Bestelregel in Bestelregels %}

      <tr>
          <td>{{Bestelregel.bestelordernummer}}</td>
          <td>
          {{Bestelregel.artikelnummer}},
          {% for Artikel in Artikelen %}
          {% if Bestelregel.artikelnummer.artikelnummer == Artikel.artikelnummer %}
          <p> {{Artikel.omschrijving}} </p>
          {% endif %}
          {% endfor %}
          </td>
          <td>{{Bestelregel.aantal}}</td>
          <td>
            {% for Bestelopdracht in Bestelopdrachten %}
            {% if Bestelregel.bestelordernummer.bestelordernummer == Bestelopdracht.bestelordernummer %}
            {{Bestelregel.bestelordernummer.naamLeverancier}}
            {% endif %}
            {% endfor %}
          </td>
          <td>{{Bestelregel.aantal}}</td>
          <td>
            {% for Artikel in Artikelen %}
            {% if Bestelregel.artikelnummer.artikelnummer == Artikel.artikelnummer %}
            {{Artikel.magazijnlocatie}}
            </td>
            {% endif %}
            {% endfor %}
            <td>{{Bestelregel.keuringseisen}}</td>
          <td><a href="{{ path('ontvangstWijzigen',{'id':Bestelregel.id}) }}"><i class="fa fa-gift fa-fw"></i>Bijwerken</a></td>
      </tr>

    {% endfor %}

</table>
</div>
</div>
</div>

{% endblock %}
