{% extends 'base.html.twig' %}
{% block body %}

    <h1>Ontvangst overzicht</h1>

    <ol>
    {% for ontvangst in ontvangsten %}

        <li>
            {{ ontvangst.ontvangstdatum|date('d-m-Y') }}, {{ ontvangst.hoeveelheid }}, {{ ontvangst.kwaliteit }},
            {{ ontvangst.bestelordernummer }}, {{ ontvangst.omschrijving }}, {{ ontvangst.leveranciersnaam }}, {{ ontvangst.afgekeurd ? 'Ja':'Nee' }}
        </li>

    {% endfor %}
    </ol>

{% endblock %}

