{% extends 'base.html.twig' %}
{% block body %}
<br>
<div class="panel panel-default">
  <div class="panel-heading">
<h1>Ontvangen Bestellingen</h1>
</div>
<div class="panel-body">
<div class="table-responsive">
<table class="table table-striped">
    <tr>
        <td>Artikel</td>
        <td>Aantal</td>
    </tr>

    {% for Bestelregel in Bestelregels %}
      {% for artikel in Artikelen %}

        <tr>
          <td>{{Bestelregel.artikelnummer}}</td>
            <td>
<<<<<<< HEAD
if {{Bestelregel.artikelnummer}} == {{artikel.artikelid}}
=======
if bestelregel.artikelnummer == artikel.artikelid
>>>>>>> 319e26251d7882340b15e3769c647bd6c7b08025
            {{artikel.naam}}
endif
            </td>
          <td>{{Bestelregel.aantal}}</td>
          </tr>

        {% endfor %}
      {% endfor %}

</table>
</div>
</div>
</div>

{% endblock %}
